<br>

    <h3 class="text-center">Password Reset</h3>
    
    <br>
    
    <div class="order-text">
      <p>Welcome to the Password reset page.</p>
      <p>Please continue by providing your emailid for a verification</p>
      <p>If you are a registered user then you will be allowed to reset password </p>
      <p>Else Please try to register agaian.</p>
      <p><b>For any Convinience please free to contact us</b></p>
    </div>
    
    <div class="checking">
      <form #passwordreset="ngForm" (ngSubmit)="resetfunc(passwordreset.value)">
          
          <div class="form-group">
            <label for="exampleInputEmail1">Email Id</label>
            <input type="email" 
                   ngModel 
                   class="form-control" 
                   name="email" 
                   placeholder="Enter Email Id"
                   [readonly]="bth1" >
          </div>
          
          <div class="form-group">
            <label *ngIf="bth1" for="exampleInputPassword1" >Username</label>
            <input *ngIf="bth1" 
                    type="text" 
                    ngModel
                    class="form-control" 
                    name="username" 
                    placeholder="User Name" 
            >
          </div>
          
          <div class="form-group">
            <label *ngIf="bth1" for="exampleInputPassword1" >Password</label>
            <input *ngIf="bth1" 
                    ngModel
                    type="password" 
                    class="form-control" 
                    name="password">
          </div>
          
          <br>
          
          
              
          <button [disabled]="passwordreset.invalid"  class="btn btn-primary" type="submit" *ngIf="bth1" >Reset</button>
      
        </form>
        <button (click)="emailcheck(passwordreset.value)" class="btn btn-primary" *ngIf="!bth1">Validate Email </button>
    </div>
