<div>
    <h1 class="text-center">Contact us</h1>
</div>

<div class="contactus-text">
    <p>You can get the admin credentials by clicking on 'New Registration' or by contacting <b>Administrarotr</b></p>
    <p>For any inconvinience feel free to contact us following number or drop a mail to the <b>Developers</b></p>
    <b>
        <p>mob:- +91-96043-93218</p>
        <p>Email Id:- saurabh.tiwade@gmail.com</p>
    </b>
    <div class="ll">
        <a href="login">go back to login page</a>
    </div>

</div>
